{
  "name": "dui.mind",
  "version": "0.1",
  "vendor": "vendor-name",
  "cli_version": "2.8.10",
  "om_version": "",
  "signature": "",
  "dependencies": null,
  "migration": null,
  "plist": [
    {
      "file": "ops.mind/etc/dui.mind/index.json",
      "id": "cmdb_mpage-1s3u46gyk4stj",
      "parent": "cmdb_mpage-infz0if4d6ir"
    },
    {
      "file": "ops.mind/etc/index.json",
      "id": "cmdb_mpage-infz0if4d6ir",
      "parent": "cmdb_mpage-root"
    },
    {
      "file": "ops.mind/index.json",
      "id": "cmdb_mpage-root",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-izvt3q2fyezb.json",
      "id": "cmdb_index-izvt3q2fyezb",
      "parent": ""
    },
    {
      "file": "resources/cmdb_index-xkc1zaxb628y.json",
      "id": "cmdb_index-xkc1zaxb628y",
      "parent": ""
    },
    {
      "file": "resources/cmdb_plugin-2mevsjxllkq1u.json",
      "id": "cmdb_plugin-2mevsjxllkq1u",
      "parent": ""
    },
    {
      "file": "resources/cmdb_plugin-2xdbl2zdgtcaa.json",
      "id": "cmdb_plugin-2xdbl2zdgtcaa",
      "parent": ""
    },
    {
      "file": "resources/cmdb_plugin-3s0min4xnxtn3.json",
      "id": "cmdb_plugin-3s0min4xnxtn3",
      "parent": ""
    },
    {
      "file": "resources/cmdb_plugin-p7djf67mn8wv.json",
      "id": "cmdb_plugin-p7djf67mn8wv",
      "parent": ""
    },
    {
      "file": "resources/cmdb_plugin-ytndjbehpy9d.json",
      "id": "cmdb_plugin-ytndjbehpy9d",
      "parent": ""
    },
    {
      "file": "resources/cmdb_site_formwork-j1idoh1ra30m.json",
      "id": "cmdb_site_formwork-j1idoh1ra30m",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-11ypxfe3evwbn.json",
      "id": "cmdb_x-11ypxfe3evwbn",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-15li5ix6hqyj8.json",
      "id": "cmdb_x-15li5ix6hqyj8",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1be8uqsvufyik.json",
      "id": "cmdb_x-1be8uqsvufyik",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1d2kmgvvheczv.json",
      "id": "cmdb_x-1d2kmgvvheczv",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1rezqxkmbwczc.json",
      "id": "cmdb_x-1rezqxkmbwczc",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1v2e7t7800xj8.json",
      "id": "cmdb_x-1v2e7t7800xj8",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1why45d65lux0.json",
      "id": "cmdb_x-1why45d65lux0",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1xjdjo7bonv8m.json",
      "id": "cmdb_x-1xjdjo7bonv8m",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1xo97bglxe6nc.json",
      "id": "cmdb_x-1xo97bglxe6nc",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1xs6zw6hzzy0b.json",
      "id": "cmdb_x-1xs6zw6hzzy0b",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-1z8knonqb0rp4.json",
      "id": "cmdb_x-1z8knonqb0rp4",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-25zyyn7oalywt.json",
      "id": "cmdb_x-25zyyn7oalywt",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2fvsjctwq0ej2.json",
      "id": "cmdb_x-2fvsjctwq0ej2",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2ps7kl92djh1f.json",
      "id": "cmdb_x-2ps7kl92djh1f",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2q3k4vrxlrxf8.json",
      "id": "cmdb_x-2q3k4vrxlrxf8",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2t4no2ob3aeu4.json",
      "id": "cmdb_x-2t4no2ob3aeu4",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2vbd5zdzvckb4.json",
      "id": "cmdb_x-2vbd5zdzvckb4",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-2z3edni949kyq.json",
      "id": "cmdb_x-2z3edni949kyq",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-32gmqzk9i1pnu.json",
      "id": "cmdb_x-32gmqzk9i1pnu",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3379c74fjixg5.json",
      "id": "cmdb_x-3379c74fjixg5",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-35aglelgou6y2.json",
      "id": "cmdb_x-35aglelgou6y2",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-36lymrinwa7e6.json",
      "id": "cmdb_x-36lymrinwa7e6",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3an1xy60jvc03.json",
      "id": "cmdb_x-3an1xy60jvc03",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3d8q2aix90y7b.json",
      "id": "cmdb_x-3d8q2aix90y7b",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3irkphnd5oncd.json",
      "id": "cmdb_x-3irkphnd5oncd",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3liii0lc8163.json",
      "id": "cmdb_x-3liii0lc8163",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3m4xsjea6wjkd.json",
      "id": "cmdb_x-3m4xsjea6wjkd",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3q4zunopid6yp.json",
      "id": "cmdb_x-3q4zunopid6yp",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-3rphtabovp19t.json",
      "id": "cmdb_x-3rphtabovp19t",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-80pgkhago64a.json",
      "id": "cmdb_x-80pgkhago64a",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-csc24nv8xkwi.json",
      "id": "cmdb_x-csc24nv8xkwi",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-eg2ndad9cj91.json",
      "id": "cmdb_x-eg2ndad9cj91",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-hbstms10w5pi.json",
      "id": "cmdb_x-hbstms10w5pi",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-hnncm4fna4ij.json",
      "id": "cmdb_x-hnncm4fna4ij",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-knr4fj08i424.json",
      "id": "cmdb_x-knr4fj08i424",
      "parent": ""
    },
    {
      "file": "resources/cmdb_x-lhb8686ut6n0.json",
      "id": "cmdb_x-lhb8686ut6n0",
      "parent": ""
    },
    {
      "file": "resources/tar/cmdb_ql-1puiso4l66cjq.json",
      "id": "cmdb_ql-1puiso4l66cjq",
      "parent": ""
    }
  ],
  "appdir": "ops.mind"
}